* {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
::-webkit-scrollbar { background-color: transparent; width: 0; }

a:link		{ color: white; }
a:visited	{ color: gray; }
a:hover		{ color: lightgray; }
a:active	{ color: white; }

img {
	display: block;
	margin: auto;
	width: 50%;
}

body {
	background: #100f0f;
	color: lightgray;
	font-family: "Courier New", Courier, monospace;
}
#content {
	margin: 0 auto;
	max-width: 48em;
	min-width: 24em;
	padding: 0 4em; 
}
#header { margin-top: 2em; text-align: center; }
footer {
	color: gray;
	margin-bottom: 3em;
	margin-top: 1em;
	text-align: center;
}
nav { 
	align-items: center;  
	display: flex; 
	justify-content: space-around; 
	margin: 0 auto 2em; 
	max-width: 48em;
	min-width: 24em;
	text-align: center;
}

code, h1, h2, p { text-align: justify; text-justify: inter-word; }
code	{ color: gray; }
h2		{ margin: 1em 0 0.75rem; }
p		{ line-height: 1.25em; margin: 0 2em 1em 2em; }

.player     { display: flex; justify-content: center; }
#trackName  { min-width: 32ch; text-align: center; }
#playPauseBtn, #nextBtn { cursor: pointer; font-weight: bold; }
#playPauseBtn:hover, #nextBtn:hover { color: white; }

